//General

$blueColor : #206ed0;
$darkGrayColor : #212121;
$superDarkGrayColor: #222;
$lightGrayColor: #444444;
$greenColor : #38a169;
$redColor: #c53030;
$superLightGrayColor: rgba(32, 32, 32, 0.03);

$lightGrayBackground: #e8eaec;
$darkGrayBackground: #222;
$materialGray: #edf2f7;
// Sidebar
$widthSidebar : 250px;
$widthSidebarMobile: 50px;

$boxShadow : 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);