{% extends 'base.html.twig' %}

{% block body_class %}class="front"{% endblock %}

{% block body %}
    {% include '_partials/navigation.html.twig' %}
    {% include '_partials/flash.html.twig' %}
    {% block content %}
        <section class="pt-5">
            <div class="container pt-5">
                <div class="card">
                    <div class="card-body">
                        Probably an awesome front
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
    {% include '_partials/footer.html.twig' %}
{% endblock %}